In [2]:
library('dplyr')
library('ggplot2')

In [6]:
df = read.csv('titanic.csv', sep=',', dec='.')

In [7]:
head(df, 5)

  X pclass survived name                            sex    age     sibsp parch
1 1 1st    1        Allen, Miss. Elisabeth Walton   female 29.0000 0     0
2 2 1st    1        Allison, Master. Hudson Trevor  male    0.9167 1     2
3 3 1st    0        Allison, Miss. Helen Loraine    female  2.0000 1     2
4 4 1st    0        Allison, Mr. Hudson Joshua Crei male   30.0000 1     2
5 5 1st    0        Allison, Mrs. Hudson J C (Bessi female 25.0000 1     2
  ticket fare     cabin   embarked    boat body home.dest
1 24160  211.3375 B5      Southampton 2     NA  St Louis, MO
2 113781 151.5500 C22 C26 Southampton 11    NA  Montreal, PQ / Chesterville, ON
3 113781 151.5500 C22 C26 Southampton       NA  Montreal, PQ / Chesterville, ON
4 113781 151.5500 C22 C26 Southampton      135  Montreal, PQ / Chesterville, ON
5 113781 151.5500 C22 C26 Southampton       NA  Montreal, PQ / Chesterville, ON

## 1.1 Изучаем таблицу

Можно посмотреть на первые пять строк!

In [6]:
head(df,5)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S

Можно посмотреть на последние пять строк!

In [7]:
tail(df,5)

    PassengerId Survived Pclass Name                                     Sex
887 887         0        2      Montvila, Rev. Juozas                    male
888 888         1        1      Graham, Miss. Margaret Edith             female
889 889         0        3      Johnston, Miss. Catherine Helen "Carrie" female
890 890         1        1      Behr, Mr. Karl Howell                    male
891 891         0        3      Dooley, Mr. Patrick                      male
    Age SibSp Parch Ticket     Fare  Cabin Embarked
887 27  0     0     211536     13.00       S
888 19  0     0     112053     30.00 B42   S
889 NA  1     2     W./C. 6607 23.45       S
890 26  0     0     111369     30.00 C148  C
891 32  0     0     370376      7.75       Q

Можно посмотреть на число колонок, строк и размерность таблицы.

In [8]:
ncol(df)  # число колонок
nrow(df)  # число строк
dim(df)   # размерность таблицы

[1] 15

[1] 1309

[1] 1309   15

Можно бросить взор на нашу таблицу!

In [9]:
glimpse(df)

Observations: 1,309
Variables: 15
$ X         <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17...
$ pclass    <fctr> 1st, 1st, 1st, 1st, 1st, 1st, 1st, 1st, 1st, 1st, 1st, 1...
$ survived  <int> 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, ...
$ name      <fctr> Allen, Miss. Elisabeth Walton, Allison, Master. Hudson T...
$ sex       <fctr> female, male, female, male, female, male, female, male, ...
$ age       <dbl> 29.0000, 0.9167, 2.0000, 30.0000, 25.0000, 48.0000, 63.00...
$ sibsp     <int> 0, 1, 1, 1, 1, 0, 1, 0, 2, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...
$ parch     <int> 0, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ...
$ ticket    <fctr> 24160, 113781, 113781, 113781, 113781, 19952, 13502, 112...
$ fare      <dbl> 211.3375, 151.5500, 151.5500, 151.5500, 151.5500, 26.5500...
$ cabin     <fctr> B5, C22 C26, C22 C26, C22 C26, C22 C26, E12, D7, A36, C1...
$ embarked  <fctr> Southampton, Southampton, Southampton, Southampton, Sout...
$ boat      <fctr> 2, 11, , , , 3, 10, , D, , , 4, 9, 6, B, , , 6, 8, A, 5,...
$ body      <int> NA, NA, NA, 135, NA, NA, NA, NA, NA, 22, 124, NA, NA, NA,...
$ home.dest <fctr> St Louis, MO, Montreal, PQ / Chesterville, ON, Montreal,...

Можно посмотреть по таблице основные характеристики.

In [16]:
summary(df[c('Sex', 'Age', 'Pclass', 'SibSp', 'Ticket') ])

     Sex           Age            Pclass          SibSp            Ticket
 female:314   Min.   : 0.42   Min.   :1.000   Min.   :0.000   1601    :  7
 male  :577   1st Qu.:20.12   1st Qu.:2.000   1st Qu.:0.000   347082  :  7
              Median :28.00   Median :3.000   Median :0.000   CA. 2343:  7
              Mean   :29.70   Mean   :2.309   Mean   :0.523   3101295 :  6
              3rd Qu.:38.00   3rd Qu.:3.000   3rd Qu.:1.000   347088  :  6
              Max.   :80.00   Max.   :3.000   Max.   :8.000   CA 2144 :  6
              NA's   :177                                     (Other) :852

In [12]:
x = c(1,2,3,2,1)
x[x == 2]

[1] 2 2

In [49]:
nrow(df[(df$sex == 'female')&(df$survived == 1),])

[1] 339

In [50]:
nrow(df[(df$sex == 'male')&(df$survived == 1),])

[1] 161

In [57]:
n1 = nrow(df[df$pclass == '1st',])
m1 = nrow(df[(df$pclass == '1st')&(df$survived == 0),])

m1/n1

[1] 0.380805

    X   pclass survived name                             sex    age     sibsp
1    1  1st    1        Allen, Miss. Elisabeth Walton    female 29.0000 0
2    2  1st    1        Allison, Master. Hudson Trevor   male    0.9167 1
3    3  1st    0        Allison, Miss. Helen Loraine     female  2.0000 1
4    4  1st    0        Allison, Mr. Hudson Joshua Crei  male   30.0000 1
5    5  1st    0        Allison, Mrs. Hudson J C (Bessi  female 25.0000 1
6    6  1st    1        Anderson, Mr. Harry              male   48.0000 0
7    7  1st    1        Andrews, Miss. Kornelia Theodos  female 63.0000 1
8    8  1st    0        Andrews, Mr. Thomas Jr           male   39.0000 0
9    9  1st    1        Appleton, Mrs. Edward Dale (Cha  female 53.0000 2
10  10  1st    0        Artagaveytia, Mr. Ramon          male   71.0000 0
11  11  1st    0        Astor, Col. John Jacob           male   47.0000 1
12  12  1st    1        Astor, Mrs. John Jacob (Madelei  female 18.0000 1
13  13  1st    1        Aubart, Mme. Leontine Pauline    female 24.0000 0
14  14  1st    1        Barber, Miss. Ellen \\"Nellie\\" female 26.0000 0
15  15  1st    1        Barkworth, Mr. Algernon Henry W  male   80.0000 0
16  16  1st    0        Baumann, Mr. John D              male        NA 0
17  17  1st    0        Baxter, Mr. Quigg Edmond         male   24.0000 0
18  18  1st    1        Baxter, Mrs. James (Helene DeLa  female 50.0000 0
19  19  1st    1        Bazzani, Miss. Albina            female 32.0000 0
20  20  1st    0        Beattie, Mr. Thomson             male   36.0000 0
21  21  1st    1        Beckwith, Mr. Richard Leonard    male   37.0000 1
22  22  1st    1        Beckwith, Mrs. Richard Leonard   female 47.0000 1
23  23  1st    1        Behr, Mr. Karl Howell            male   26.0000 0
24  24  1st    1        Bidois, Miss. Rosalie            female 42.0000 0
25  25  1st    1        Bird, Miss. Ellen                female 29.0000 0
26  26  1st    0        Birnbaum, Mr. Jakob              male   25.0000 0
27  27  1st    1        Bishop, Mr. Dickinson H          male   25.0000 1
28  28  1st    1        Bishop, Mrs. Dickinson H (Helen  female 19.0000 1
29  29  1st    1        Bissette, Miss. Amelia           female 35.0000 0
30  30  1st    1        Bjornstrom-Steffansson, Mr. Mau  male   28.0000 0
⋮   ⋮   ⋮      ⋮        ⋮                                ⋮      ⋮       ⋮
294 294 1st    1        Taylor, Mrs. Elmer Zebley (Juli  female NA      1
295 295 1st    0        Thayer, Mr. John Borland         male   49      1
296 296 1st    1        Thayer, Mr. John Borland Jr      male   17      0
297 297 1st    1        Thayer, Mrs. John Borland (Mari  female 39      1
298 298 1st    1        Thorne, Mrs. Gertrude Maybelle   female NA      0
299 299 1st    1        Tucker, Mr. Gilbert Milligan Jr  male   31      0
300 300 1st    0        Uruchurtu, Don. Manuel E         male   40      0
301 301 1st    0        Van der hoef, Mr. Wyckoff        male   61      0
302 302 1st    0        Walker, Mr. William Anderson     male   47      0
303 303 1st    1        Ward, Miss. Anna                 female 35      0
304 304 1st    0        Warren, Mr. Frank Manley         male   64      1
305 305 1st    1        Warren, Mrs. Frank Manley (Anna  female 60      1
306 306 1st    0        Weir, Col. John                  male   60      0
307 307 1st    0        White, Mr. Percival Wayland      male   54      0
308 308 1st    0        White, Mr. Richard Frasar        male   21      0
309 309 1st    1        White, Mrs. John Stuart (Ella H  female 55      0
310 310 1st    1        Wick, Miss. Mary Natalie         female 31      0
311 311 1st    0        Wick, Mr. George Dennick         male   57      1
312 312 1st    1        Wick, Mrs. George Dennick (Mary  female 45      1
313 313 1st    0        Widener, Mr. George Dunton       male   50      1
314 314 1st    0        Widener, Mr. Harry Elkins        male   27      0
315 315 1st    1        Widener, Mrs. George Dunton (El  female 50      1
316 316 1st    1        Willard, Miss. Constance         female 21      0
317 317 1st    0        Williams, Mr. Charles Duane      male   51      0
318 318 1st    1        Williams, Mr. Richard Norris II  male   21      0
319 319 1st    0        Williams-Lambert, Mr. Fletcher   male   NA      0
320 320 1st    1        Wilson, Miss. Helen Alice        female 31      0
321 321 1st    1        Woolner, Mr. Hugh                male   NA      0
322 322 1st    0        Wright, Mr. George               male   62      0
323 323 1st    1        Young, Miss. Marie Grice         female 36      0
    parch ticket   fare     cabin   embarked    boat body
1   0     24160    211.3375 B5      Southampton 2     NA
2   2     113781   151.5500 C22 C26 Southampton 11    NA
3   2     113781   151.5500 C22 C26 Southampton       NA
4   2     113781   151.5500 C22 C26 Southampton      135
5   2     113781   151.5500 C22 C26 Southampton       NA
6   0     19952     26.5500 E12     Southampton 3     NA
7   0     13502     77.9583 D7      Southampton 10    NA
8   0     112050     0.0000 A36     Southampton       NA
9   0     11769     51.4792 C101    Southampton D     NA
10  0     PC 17609  49.5042         Cherbourg         22
11  0     PC 17757 227.5250 C62 C64 Cherbourg        124
12  0     PC 17757 227.5250 C62 C64 Cherbourg   4     NA
13  0     PC 17477  69.3000 B35     Cherbourg   9     NA
14  0     19877     78.8500         Southampton 6     NA
15  0     27042     30.0000 A23     Southampton B     NA
16  0     PC 17318  25.9250         Southampton       NA
17  1     PC 17558 247.5208 B58 B60 Cherbourg         NA
18  1     PC 17558 247.5208 B58 B60 Cherbourg   6     NA
19  0     11813     76.2917 D15     Cherbourg   8     NA
20  0     13050     75.2417 C6      Cherbourg   A     NA
21  1     11751     52.5542 D35     Southampton 5     NA
22  1     11751     52.5542 D35     Southampton 5     NA
23  0     111369    30.0000 C148    Cherbourg   5     NA
24  0     PC 17757 227.5250         Cherbourg   4     NA
25  0     PC 17483 221.7792 C97     Southampton 8     NA
26  0     13905     26.0000         Cherbourg        148
27  0     11967     91.0792 B49     Cherbourg   7     NA
28  0     11967     91.0792 B49     Cherbourg   7     NA
29  0     PC 17760 135.6333 C99     Southampton 8     NA
30  0     110564    26.5500 C52     Southampton D     NA
⋮   ⋮     ⋮        ⋮        ⋮       ⋮           ⋮    ⋮
294 0     19996     52.0000 C126    Southampton 5 7   NA
295 1     17421    110.8833 C68     Cherbourg         NA
296 2     17421    110.8833 C70     Cherbourg   B     NA
297 1     17421    110.8833 C68     Cherbourg   4     NA
298 0     PC 17585  79.2000         Cherbourg   D     NA
299 0     2543      28.5375 C53     Cherbourg   7     NA
300 0     PC 17601  27.7208         Cherbourg         NA
301 0     111240    33.5000 B19     Southampton      245
302 0     36967     34.0208 D46     Southampton       NA
303 0     PC 17755 512.3292         Cherbourg   3     NA
304 0     110813    75.2500 D37     Cherbourg         NA
305 0     110813    75.2500 D37     Cherbourg   5     NA
306 0     113800    26.5500         Southampton       NA
307 1     35281     77.2875 D26     Southampton       NA
308 1     35281     77.2875 D26     Southampton      169
309 0     PC 17760 135.6333 C32     Cherbourg   8     NA
310 2     36928    164.8667 C7      Southampton 8     NA
311 1     36928    164.8667         Southampton       NA
312 1     36928    164.8667         Southampton 8     NA
313 1     113503   211.5000 C80     Cherbourg         NA
314 2     113503   211.5000 C82     Cherbourg         NA
315 1     113503   211.5000 C80     Cherbourg   4     NA
316 0     113795    26.5500         Southampton 8 10  NA
317 1     PC 17597  61.3792         Cherbourg         NA
318 1     PC 17597  61.3792         Cherbourg   A     NA
319 0     113510    35.0000 C128    Southampton       NA
320 0     16966    134.5000 E39 E41 Cherbourg   3     NA
321 0     19947     35.5000 C52     Southampton D     NA
322 0     113807    26.5500         Southampton       NA
323 0     PC 17760 135.6333 C32     Cherbourg   8     NA
    home.dest
1   St Louis, MO
2   Montreal, PQ / Chesterville, ON
3   Montreal, PQ / Chesterville, ON
4   Montreal, PQ / Chesterville, ON
5   Montreal, PQ / Chesterville, ON
6   New York, NY
7   Hudson, NY
8   Belfast, NI
9   Bayside, Queens, NY
10  Montevideo, Uruguay
11  New York, NY
12  New York, NY
13  Paris, France
14
15  Hessle, Yorks
16  New York, NY
17  Montreal, PQ
18  Montreal, PQ
19
20  Winnipeg, MN
21  New York, NY
22  New York, NY
23  New York, NY
24
25
26  San Francisco, CA
27  Dowagiac, MI
28  Dowagiac, MI
29
30  Stockholm, Sweden / Washington,
⋮   ⋮
294 London /  East Orange, NJ
295 Haverford, PA
296 Haverford, PA
297 Haverford, PA
298 New York, NY
299 Albany, NY
300 Mexico City, Mexico
301 Brooklyn, NY
302 East Orange, NJ
303
304 Portland, OR
305 Portland, OR
306 England Salt Lake City, Utah
307 Brunswick, ME
308 Brunswick, ME
309 New York, NY / Briarcliff Manor
310 Youngstown, OH
311 Youngstown, OH
312 Youngstown, OH
313 Elkins Park, PA
314 Elkins Park, PA
315 Elkins Park, PA
316 Duluth, MN
317 Geneva, Switzerland / Radnor, P
318 Geneva, Switzerland / Radnor, P
319 London, England
320
321 London, England
322 Halifax, NS
323 New York, NY / Washington, DC

## 1.2 Основные операции над таблицами и dplyr